In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier
import numpy as np

In [9]:
wine_df = pd.read_csv('wine_dataset.csv')
wine_df.head(4)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red

In [10]:
# substituir vinho tinto por 0 e vinho branco por 1
wine_df['style'] =  wine_df['style'].replace('red', 0)
wine_df['style'] =  wine_df['style'].replace('white', 1)

In [27]:
# Separando as vari치veis entre preditorias e vari치vel alvo
y = wine_df['style']
x = wine_df.drop('style', axis = 1)

In [32]:
# criando conjunto de dados de treino e teste
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [39]:
model = ExtraTreesClassifier()
model.fit(x_train, y_train) #treinando com 70% dos dados

result = model.score(x_test, y_test) # medindo resultado

print("Acur치cia: ", result)

Acur치cia:  0.9953846153846154

In [42]:
y_test[400:403]

2213    1
2292    1
970     0
Name: style, dtype: int64

In [43]:
x_test[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2213,7.5,0.21,0.68,10.9,0.045,38.0,133.0,0.99780,3.00,0.36,8.7,5
2292,5.9,0.37,0.14,6.3,0.036,34.0,185.0,0.99440,3.17,0.63,9.8,5
970,10.4,0.26,0.48,1.9,0.066,6.0,10.0,0.99724,3.33,0.87,10.9,6

In [45]:
predict = model.predict(x_test[400:403])
predict

array([1, 1, 0], dtype=int64)